a {
  color: #406AC1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Times New Roman", Times, serif;
  font-size: 75%;
  min-width: 800px;
}

h1 {
  border-bottom: #aaa 1px dotted;
  font-size: 3.0em;
  font-weight: bold;
  line-height: 1.0em;
  padding: 20px;
}

h1 a {
  color: #333;
}

h1 a:hover {
  color: #999;
  text-decoration: none;
}

h2 {
  background-color: #f9f9f9;
  border-bottom: #aaa 1px dotted;
  font-size: 1.4em;
  line-height: 1.0em;
  padding: 10px 20px;
  text-transform: lowercase;
}

h2 span {
  color: #666;
  font-size: 0.75em;
  float: right;
}

.clearfix {
  height: 1%;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

#container {
  font-size: 1.0em;
  line-height: 1.4em;
  margin: 0 20px;
  width: 600px;
}

#content {
  margin-bottom: 20px;
}

#copy {
  font-family: "helvetica neue", helvetica, sans-serif;
}

#footer {
  background-color: #f9f9f9;
  border-top: #bbb 1px dotted;
  color: #999;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 20px;
}

#footer a {
  color: #666;
}

#footer p {
  float: right;
}

#footer ul {
  float: left;
  list-style: none;
}

#footer ul li {
  float: left;
  margin-right: 10px;
}

#posts {
  font-size: 1.2em;
  line-height: 1.4em;
  list-style: none;
  margin: 20px;
}

#posts li {
  float: left;
  margin-right: 10px;
  padding: 10px;
}

#post {
  border-bottom: #bbb 1px dotted;
}

#post-content {
  background-color: #fff;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 20px;
}

#toggle {
  margin: 10px;
}

#comments {
  padding: 20px;
  padding-bottom: 0;
}
