body {
	background-color: #fff;
	color: #555;
	font-family: "Times New Roman", Times, serif;
	font-size: 62.5%;
	min-width: 800px;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	border-bottom: #ddd 1px solid;
	color: #bbb;
	font-size: 1.8em;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
}

h1 a {
	color: #bbb;
}

h1 a:hover {
	color: #999;
	text-decoration: none;
}

h2 {
	color: #333;
	font-size: 1.2em;
	margin-left: 10px;
}

h2 a {
	color: #333;
}

h2 span {
	color: #666;
	font-size: 0.8em;
	margin-left: 10px;
}

#container {
	font-size: 1.2em;
	line-height: 140%;
	margin: 0 auto;
	width: 800px;
}

#posts {
	list-style: none;
	margin: 10px;
}

#content {
	-moz-border-radius: 10px;
	background-color: #f4f4f4;
	border: #ddd 1px solid;
	border-radius: 10px;
	color: #444;
	font-size: 1.2em;
	line-height: 120%;
	margin: 10px 0;
	padding: 10px;
}

#content pre {
	margin: 0 auto;
}

#toggleComments {
	margin: 10px;
}

#comments {
	border-top: #ddd 1px solid;
	display: none;
	padding-top: 10px;
}
